.box {
	width: 1492px;
	height: 100px;
	position: absolute;
	left:54px;
	top:788px;
}
.box_back {
	width: 1492px;
	height: 100px;
	position: absolute;
	left:56px;
	top:788px;
}
@font-face {
	font-family: cyr_Beast vs SpreadTall;
	src: url("../fonts/beast.ttf");
}
.story_0 {
	color: #ffffff;
	font-family: "cyr_Beast vs SpreadTall";
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 78px;
	top: 808px;	
}
.story_0:hover {
	cursor: pointer;
}
.iframe {
	position: absolute;
	top: 70px;
	left: 310px;
	width: 1000px;
	height: 700px;
	background-color: black;
	border: none;
}
.story_1 {
	color: #ffffff;
	font-family: "cyr_Beast vs SpreadTall";
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 278px;
	top: 808px;	
}
.story_1:hover {
	cursor: pointer;
}
