@media screen and (max-width: 1600px) and (min-width: 1501px) {
.dim {
	position: absolute;
	top: 144px;
	left: 0px;
	width: 1600px;
}
@font-face {
	font-family: DarksSkyrimFont;
	src: url("../fonts/skyrim.ttf");
}
.TheElderSites {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 477px;
	top: 180px;
}
.skyfolio {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 72px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 543px;
	top: 249px;
}
.code {
	color: #ffffff;
	font-family: "DarksSkyrimFont";
	font-size: 48px;
	font-weight: 400;
	position: absolute;
	right: 62px;
	top: 623px;
}

.code:hover {
	color: #999999;
	cursor: pointer;
}
.games {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 48px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 689px;
}
.games:hover {
	color: #999999;
	cursor: pointer;
}
.learning {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 48px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 755px;
}
.learning:hover {
	color: #999999;
	cursor: pointer;
}
.progress {
	color: #000000;
	font-family: "Times New Roman PSMT";
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 30px;
	top:850px;
	width: 251px;
	}
}

@media screen and (max-width: 1500px) and (min-width: 1401px) {
.dim {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 1466px;
}
@font-face {
	font-family: DarksSkyrimFont;
	src: url("../fonts/skyrim.ttf");
}
.TheElderSites {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 56px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 457px;
	top: 180px;
}
.skyfolio {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 68px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 523px;
	top: 245px;
}
.code {
	color: #ffffff;
	font-family: "DarksSkyrimFont";
	font-size: 42px;
	font-weight: 400;
	position: absolute;
	right: 62px;
	top: 603px;
}

.code:hover {
	color: #999999;
	cursor: pointer;
}
.games {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 659px;
}
.games:hover {
	color: #999999;
	cursor: pointer;
}
.learning {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 715px;
}
.learning:hover {
	color: #999999;
	cursor: pointer;
}
.progress {
	color: #000000;
	font-family: "Times New Roman PSMT";
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 30px;
	top:780px;
	width: 251px;
	}
}


@media screen and (max-width: 1400px) and (min-width: 1301px) {
.dim {
	position: absolute;
	top: 106px;
	left: 0px;
	width: 1334px;
}
@font-face {
	font-family: DarksSkyrimFont;
	src: url("../fonts/skyrim.ttf");
}
.TheElderSites {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 52px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 407px;
	top: 180px;
}
.skyfolio {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 64px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 468px;
	top: 235px;
}
.code {
	color: #ffffff;
	font-family: "DarksSkyrimFont";
	font-size: 42px;
	font-weight: 400;
	position: absolute;
	right: 62px;
	top: 573px;
}

.code:hover {
	color: #999999;
	cursor: pointer;
}
.games {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 619px;
}
.games:hover {
	color: #999999;
	cursor: pointer;
}
.learning {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 665px;
}
.learning:hover {
	color: #999999;
	cursor: pointer;
}
.progress {
	color: #000000;
	font-family: "Times New Roman PSMT";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 20px;
	top:710px;
	width: 251px;
	}
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
.dim {
	position: absolute;
	top: 106px;
	left: 0px;
	width: 1334px;
}
@font-face {
	font-family: DarksSkyrimFont;
	src: url("../fonts/skyrim.ttf");
}
.TheElderSites {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 457px;
	top: 180px;
}
.skyfolio {
	color: #928e8e;
	font-family: "DarksSkyrimFont";
	font-size: 62px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 523px;
	top: 245px;
}
.code {
	color: #ffffff;
	font-family: "DarksSkyrimFont";
	font-size: 42px;
	font-weight: 400;
	position: absolute;
	right: 62px;
	top: 603px;
}

.code:hover {
	color: #999999;
	cursor: pointer;
}
.games {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 659px;
}
.games:hover {
	color: #999999;
	cursor: pointer;
}
.learning {
		color: #ffffff;
		font-family: "DarksSkyrimFont";
		font-size: 42px;
		font-weight: 400;
		position: absolute;
		right: 62px;
		top: 695px;
}
.learning:hover {
	color: #999999;
	cursor: pointer;
}
.progress {
	color: #000000;
	font-family: "Times New Roman PSMT";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	left: 20px;
	top:710px;
	width: 251px;
	}
}